<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 携程直连地址URL， 注意必须以/结尾-->
    <add key="CtripAddress" value="http://58.221.127.200/api/"/>
    <!-- 携程分配的供应商令牌 -->
    <add key="Token" value="9000"/>
    <!-- 携程分配的供应商编号 -->
    <add key="Id" value="9000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>